<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="header">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
      </div>
      
      <div class="row">
        <div class="col-3 menu">
          <ul>
         
          <% if (user) { %>
          <a href="/users/dashboard"><li>Dashboard</li></a>
          <a href="/venues/new"><li>Add Venue</li></a>
          <a href="/venues"><li class="second">Venues and Reviews</li></a>
          <a href="/logout"><li>Log Out</li></a>
          <% } else { %>
          <a href="/auth/google"><li class="first">Log in or Join the team</li></a>
          <a href="/venues"><li class="second">Venues and Reviews</li></a>
            <% } %>
            
          </ul>
        </div>
      
        <div class="col-6">
          <h1>About us</h1>
          <p>Promiting venues adopted for those that require mobiity assistance.<br>
          Add a venue and tell us how you found its accesbility.</p>
        </div>
      
        <div class="col-3 right">
          <div class="aside">
            <h2>FAQ</h2>
            <h2>What do we mean by mobility assistance?</h2>
            <p>Generally speaking..</p>
            <h2>Why this is important?</h2>
            <p>Creating an inclusive society is not only good for everyones well-being, but also for econimic growthh and resilence.</p>
          </div>
        </div>
      </div>
      <div class="footer">
        <p>Contact us: inclusiveDine@gmail.com</p>
      </div>
      
  </body>
</html>
