* {
  box-sizing: border-box;
  
}

.footer {
  position: relative;
}

.title {
  color: lightblue;
}



a {
  text-decoration: none;
  color: black;
}
.row::after {
  content: "";
  clear: both;
  display: block;
  
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: white;
  color: black;
  padding: 15px;
  border-radius: 10px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  
  
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: black;
  color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  text-decoration: none;
  border-radius: 10px;
}

.menu .first:hover {
  background-color: limegreen;
}

.menu .second:hover {
  background-color: orange;
}

.menu .third:hover {
  background-color: blueviolet;
}

.menu .fourth:hover {
  background-color: lightcoral;
}

.menu .fifth:hover {
  background-color: lightseagreen;
}
.menu li:hover {
  background-color: #0099cc;
  
}

.aside {
  background-color: black;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 10px;

}

.aside:hover {
background-color:limegreen;
}

.footer {
  background-color: black;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
  border-radius: 10px;
}

.footer:hover {
  background-color: purple ;
  text-decoration: underline;
  
}

.addReview {
  border-radius: 10px;
  padding: 7px;
  
  background-color: orange;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 0.1rem solid black;
}

.addReview > button {
  height: 100px;
}

.addReview:hover{
border: 0.1rem solid black;
}


#showReview {
  border-radius: 10px;
  padding: 7px;
  justify-content: center;
  align-items: center;
  background-color: orange;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#showReview:hover{
border: 0.1rem solid black;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

#reviewForm {
  display:none;
  padding-top: 2vh;
}

#new-review >button{
  border-radius: 10px;
  padding: 7px;
  justify-content: center;
  align-items: center;
  background-color: red;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
}

#comment{
  width: 60vh;
  height: 15vh;
}

#checkbox {
  opacity:0.01;
}

#checkbox:checked + #reviewForm{
  display:block;
}

.detailsbutton {
  border-radius: 10px;
  padding: 7px;
  justify-content: center;
  align-items: center;
  background-color: orange;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.showReviewForm > p {
  color:red;
  
}

#new-venue {
  display:flex;
  padding: 1rem;
  justify-content: wrap;
  color:red ;
}

.about {
  margin-top: -1rem;
  display:flex;
  justify-content: space-between;
  color:grey ;
}

.dashboardButton{
  display:flex;
  float:right;
  justify-content: center;
  border-radius: 10px;
  padding: 7px 24px;
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: lightsalmon;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.addReviewButton {
  display:flex;
  float:center;
  
  border-radius: 10px;
  padding: 7px 24px;
  width: 100%;
 
  justify-content: center;
  align-items: center;
  background-color: lightsalmon;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.addReviewButton:hover {
  border: 0.1rem solid black;

}

.textarea {
  width:100%;
}

