<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="header">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
      </div>
      
      <div class="row">
        <div class="col-3 menu">
          <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/venues">Edit review (need to set up)</a></li>
          <li><a href="/venues/new">Add Venue</a></li>
          </ul>
        </div>
      
        <div class="col-6">
          <h1>Your venues</h1>
          <p>List of venues user has reviewed</p>
        </div>
      
        <div class="col-3 right">
          <div class="aside">
            <h2>FAQ</h2>
            <h2>What do we mean by mobility assistance?</h2>
            <p>Generally speaking..</p>
            <h2>Why this is important?</h2>
            <p>Creating an inclusive society is not only good for individuals well being but also for econimic growthh and resilence</p>
          </div>
        </div>
      </div>
      <div class="footer">
        <p>Contact us: inclusiceDine@gmail.com</p>
      </div>
      
  </body>
</html>
