<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="header">
        <h1 class="title"><%= title %></h1>
        <p>For <%= singleReview[0].venueName %></p>
        <img alt="avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer">
        
        <div class="row">
            <div class="col-3 menu">
              <ul>
             
              <% if (user) { %>
              <a href="/users/dashboard"><li class=" first">Dashboard</li></a>
              <a href="/venues"><li class="second">Venues and Reviews</li></a>
              <a href="/venues/new"><li class="fourth">Add Venue</li></a>
              <a href="/logout"><li class="fifth">Log Out</li></a>
              <% } else { %>
              <a href="/auth/google"><li class="first">Log in or Join the team</li></a>
              <a href="/venues"><li class="second">Venues and Reviews</li></a>
                <% } %>
                
              </ul>
            </div>
        
            
            
            
                <div id="reviewFormEdit">
                  <form id="edit" action="?_method=PUT" method="POST">
                    
                      <input type="hidden" name="venueName" value="<%= singleReview[0].venueName %>">

                      <input type="checkbox" id="wheelChairAdopted" name="wheelChairAdopted" value="singleReview[0].wheelChairAdopted">
                      <label for="wheelChairAdopted">Wheelchair adopted?</label><br>

                      <input type="checkbox" id="wheelChairFriendly" name="wheelChairFriendly" value="singleReview[0].wheelChairFriendly">
                      <label for="wheelChairFriendly">Did you find it wheelchair friendly?</label><br>

                      <input type="checkbox" id="designatedDisableParking" name="designatedDisableParking" value="singleReview[0].designatedDisableParking">
                      <label for="designatedDisableParking">Was there designated disabled parking nearby?</label><br>

                      <input type="checkbox" id="easyParkingNearby" class="addReview" name="easyParkingNearby" value="singleReview[0].easyParkingNearby">
                      <label for="easyParkingNearby">Was there easy parking options nearby?</label><br>

                      <input type="checkbox" id="hillsOnApproach" class="addReview" name="hillsOnApproach" value="singleReview[0].hillsOnApproach">
                      <label for="hillsOnApproach">Were there hills on approach to the venue?</label><br>

                      <input type="checkbox" id="unevenPavementOnApproach" class="addReview" name="unevenPavementOnApproach" value="singleReview[0].unevenPavementOnApproach">
                      <label for="unevenPavementOnApproach">Uneven pavement on approach?</label><br>

                      <input type="checkbox" id="veganFriendly" class="addReview" name="veganFriendly" value="singleReview[0].veganFriendly">
                      <label for="veganFriendly">Vegan friendly options?</label><br>

                      <input type="checkbox" id="glutenFree" class="addReview" name="glutenFree" value="singleReview[0].glutenFree">
                      <label for="glutenFree">Gluten free options?</label><br>

                      <label for="comment">Share any other feedback?</label><br>
                      <input type="textarea" id="comment" class="addReview" name="comment">
                      <button class="addReview" type="submit">Add</button>

                    
                </form>
                </div>
      
        
      </div>
    
      
  </body>
</html>
